.nav{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.activeButton{
  font-weight: bold;
  text-decoration: underline;
}

.test{
  color: #007bff;

}

.activeButton2{
  color: #ff0000;
  font-weight: bold;
  text-decoration: underline;
}
