<h1 class="">{{ introText|titlecase }}</h1>

<a [routerLink]="['/login']">Login</a>

<div class="stationList">

  @for(station of stations; track station.id){
    <div >
      <img [src]="station.coverImage" [alt]="station.name + ' cover image'">
      <h2>{{ station.name }}</h2>
      <p [ngClass]="{'highPower' : (station.power|slice:0:-2) > '20'}">
        Puissance: {{ station.power|slice:0:-2 }} Kw
      </p>
      <h2>{{ station.address }}</h2>
      <p>Reviews: {{ station.reviews.length }}</p>
      <a [routerLink]="['/station-detail', station.id]">Détail</a>

    </div>
  }@empty {
    <p>Aucun résultat</p>
  }

</div>

